﻿@model FarmWebApp.Models.ToolsAndMechanism.ToolsPerRuralProperty

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToolsPerRuralProperty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuralProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralProperty.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuralPropertyActivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralPropertyActivity.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToolsAndMechanism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToolsAndMechanism.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
