﻿@model FarmWebApp.Models.ComplexModels.ToolsAndMechenismPerRuralProperty

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Imanje
        </th>
        <th>
            Naziv alata ili mehanizacije
        </th>
        <th>
            Početak
        </th>
        <th>
            Kraj
        </th>
        <th>
            Aktivnost
        </th>
        <th>
            Vlasnik
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ToolsPerRuralProperties)
    {
        string selectedRow = "";
        if (item.Id == (int?)ViewData["RuralPropertyId"])
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.RuralProperty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolsAndMechanism.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RuralPropertyActivity.Name)
            </td>

            <td>
                <a asp-action="Index" asp-route-id="@item.RuralProperty.Id">Odaber</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
    }
    </tbody>
</table>


@if (Model.ToolsAndMechanisms != null)
{
    <h3>Alati koristeni na odabranom imanju</h3>
    <table class="table">
        <tr>
            <td></td>
            <th>Naziv Alata</th>
            <th>Opis</th>
            <th>Vlasnik</th>
        </tr>

        @foreach (var item in Model.ToolsAndMechanisms)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["ToolAndMechanismId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { toolId = item.Id })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Company.Name
                </td>
            </tr>
        }

    </table>
}


@if (Model.ToolCosts != null)
{
    <h3>Troskovi odabranog alata i mehanizacije</h3>
    <table class="table">
        <tr>
            <th>Naziv Troska</th>
            <th>Ukupan iznos</th>
            <th>Valuta</th>
            <th>Katogorija troska</th>
            <th>Datum Placanja</th>
        </tr>

        @foreach (var item in Model.ToolCosts)
        {

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Currency
                </td>
                <td>
                    @item.ToolCostType.Name
                </td>
                <td>
                    @item.CostTime
                </td>
            </tr>
        }

    </table>
}