﻿@model FarmWebApp.Models.RuralGoods.RuralGood

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite obrisati?</h3>
<div>
    <h4>Gospodarsko dobro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
           Živo ukoliko je živina ?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
           Kategorija
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralGoodCategory.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
