﻿@model FarmWebApp.Models.RuralGoods.RuralGood

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Gospodarsko dobro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv dobra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
           Živo (ukoliko je živina) ?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            Kategorija dobra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralGoodCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
