﻿@model FarmWebApp.Models.RuralGoods.RuralGood

@{
    ViewData["Title"] = "Edit";
}

<h2>Uredi</h2>

<h4>Gospodarsko Dobro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naziv</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuralCategoryId" class="control-label">Kategorija</label>
                <select asp-for="RuralCategoryId" class="form-control" asp-items="ViewBag.RuralCategoryId"></select>
                <span asp-validation-for="RuralCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label">Živo Ukoliko je živina ?</label>
                @Html.CheckBoxFor(x => x.Active, new { @class="checkbox"})
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
