﻿@model FarmWebApp.Models.RuralProperties.RuralPropertyType

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Tipa imanja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naziv tipa imanja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
          Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Urid</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
