﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmWebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/easy-autocomplete.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FarmWebApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Firma i Prodajna Mjesta <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Companies" asp-action="Index">Firme</a></li>
                            <li><a asp-area="" asp-controller="CompanyTypes" asp-action="Index">Tip Firme</a></li>
                            <li><a asp-area="" asp-controller="CompanySalePlaces" asp-action="Index">Prodajna Mjesta</a></li>
                            <li><a asp-area="" asp-controller="SalePlaceCatogories" asp-action="Index">Kategorija Prodajnih Mjesta</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gospodarska dobra <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="RuralProperties" asp-action="Index">Gospodarska imanja</a></li>
                            <li><a asp-area="" asp-controller="RuralPropertyTypes" asp-action="Index">Tip imanja</a></li>
                            <li><a asp-area="" asp-controller="RuralGoods" asp-action="Index">Gospodarska dobra</a></li>
                            <li><a asp-area="" asp-controller="RuralGoodCategories" asp-action="Index">Gospodarske kategorije</a></li>
                            <li><a asp-area="" asp-controller="RuralGoodPerProperties" asp-action="Index">Raspored dobara</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gospodarska Radnje <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="RuralOperations" asp-action="Index">Radnje</a></li>
                            <li><a asp-area="" asp-controller="OperationTypes" asp-action="Index">Kategorije Radnji</a></li>
                            <li><a asp-area="" asp-controller="OperationActivityTypes" asp-action="Index">Kategorizacija Po Aktivnostima</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alati i mehanizacija<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="ToolsAndMechanism" asp-action="Index">Alati i mehanizacija</a></li>
                            <li><a asp-area="" asp-controller="ToolCostTypes" asp-action="Index">Vrste Troškova</a></li>
                            <li><a asp-area="" asp-controller="ToolCosts" asp-action="Index">Troškovi</a></li>
                            <li><a asp-area="" asp-controller="ToolsPerRuralProperties" asp-action="Index">Raspored korištenja po imanjima</a></li>
                            <li><a asp-area="" asp-controller="RuralPropertyActivities" asp-action="Index">Status alata</a></li>
                            <li><a asp-area="" asp-controller="ToolsOutsourceds" asp-action="Index">Rentanje</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mlijekomati<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="MlijekoMats" asp-action="Index">Mlijekomati</a></li>
                            <li><a asp-area="" asp-controller="Trosaks" asp-action="Index">Vrste Troškova</a></li>
                            <li><a asp-area="" asp-controller="TipRadnjes" asp-action="Index">Tipovi aktivnosti</a></li>
                            <li><a asp-area="" asp-controller="PrihodiMlijekomatas" asp-action="Index">Prihodi</a></li>
                            <li><a asp-area="" asp-controller="TroskoviMlijekomatas" asp-action="Index">Troskovi mlijekomata</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evidencija<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Evidencijas" asp-action="Index">Evidencije</a></li>
                            <li><a asp-area="" asp-controller="TipPracenjas" asp-action="Index">Tipovi Evidencije</a></li>
                            <li><a asp-area="" asp-controller="EvidencijaORadnjamas" asp-action="Index">Evidencija o radnjama</a></li>
                            <li><a asp-area="" asp-controller="TipAktivnostis" asp-action="Index">Tipovi Radnji</a></li>
                        </ul>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; 2018 - FarmWebApp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.easy-autocomplete.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.easy-autocomplete.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
