﻿@model FarmWebApp.Models.ToolsAndMechanism.ToolCost

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ToolCost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToolsAndMechanismId" class="control-label"></label>
                <select asp-for="ToolsAndMechanismId" class ="form-control" asp-items="ViewBag.ToolsAndMechanismId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostTime" class="control-label"></label>
                <input asp-for="CostTime" class="form-control" />
                <span asp-validation-for="CostTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostTypeId" class="control-label"></label>
                <select asp-for="CostTypeId" class ="form-control" asp-items="ViewBag.CostTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
