﻿@model FarmWebApp.Models.ToolsAndMechanism.ToolCost

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToolCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToolCostType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToolCostType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToolsAndMechanism)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToolsAndMechanism.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
