﻿@model FarmWebApp.Models.Company.Company

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj Novi obiteljski posao, zadrugu ili pojedinačnog vlasnika farme </h2>

<h4>Firma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ime firme</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label">Datum Otvaranja</label>
                @Html.TextBoxFor(x => x.Created, "{0:yyyy-MM-dd}", new { @Value= @DateTime.Now.ToShortDateString(), @class = "form-control", @type = "date" })
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Kratki Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTypeId" class="control-label">Kategorija</label>
                <select asp-for="CompanyTypeId" class ="form-control" asp-items="ViewBag.CompanyTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
