﻿@model FarmWebApp.Models.Company.Company

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da zelite izbrisati ovu firmu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
         Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Osnovana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
           Kratki Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
           Tip Firme
        <dd>
            @Html.DisplayFor(model => model.CompanyType.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
