﻿@model FarmWebApp.Models.Evidencija.Evidencija

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Evidencija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazivEvidencije" class="control-label"></label>
                <input asp-for="NazivEvidencije" class="form-control" />
                <span asp-validation-for="NazivEvidencije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GospodarskoDobroId" class="control-label"></label>
                <select asp-for="GospodarskoDobroId" class ="form-control" asp-items="ViewBag.GospodarskoDobroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipPracenjaId" class="control-label"></label>
                <select asp-for="TipPracenjaId" class ="form-control" asp-items="ViewBag.TipPracenjaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MjernaJedinica" class="control-label"></label>
                <input asp-for="MjernaJedinica" class="form-control" />
                <span asp-validation-for="MjernaJedinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrethodnoStanje" class="control-label"></label>
                <input asp-for="PrethodnoStanje" class="form-control" />
                <span asp-validation-for="PrethodnoStanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrenutnoStanje" class="control-label"></label>
                <input asp-for="TrenutnoStanje" class="form-control" />
                <span asp-validation-for="TrenutnoStanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumZapisa" class="control-label"></label>
                <input asp-for="DatumZapisa" class="form-control" />
                <span asp-validation-for="DatumZapisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
