﻿@model FarmWebApp.Models.Evidencija.Evidencija

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evidencija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivEvidencije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NazivEvidencije)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MjernaJedinica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjernaJedinica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrethodnoStanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrethodnoStanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrenutnoStanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrenutnoStanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumZapisa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumZapisa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GosparskoDobro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GosparskoDobro.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipPracenja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipPracenja.Naziv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
