﻿@model IEnumerable<FarmWebApp.Models.Evidencija.Evidencija>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NazivEvidencije)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MjernaJedinica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrethodnoStanje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrenutnoStanje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumZapisa)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GosparskoDobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipPracenja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivEvidencije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjernaJedinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrethodnoStanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrenutnoStanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumZapisa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GosparskoDobro.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipPracenja.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
