﻿@model FarmWebApp.Models.RuralGoods.RuralGoodCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Kategorija gospodarskog dobra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv kategorije
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
