﻿@model FarmWebApp.Models.SalePlaces.SalePlaceCatogory

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Da li ste sigurni da želite izbrisati ?</h3>
<div>
    <h4>Kategoriju prodajnog mjesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
