﻿@model IEnumerable<FarmWebApp.Models.MlijekoMati.PrihodiMlijekomata>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProdanaKolicina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VracenaKolicina)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MlijekoMat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipRadnje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdanaKolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VracenaKolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MlijekoMat.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipRadnje.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
