﻿@model FarmWebApp.Models.ToolsAndMechanism.ToolsAndMechanism

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Alati i mehanizacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
          Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
           Mjera za broj alata
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitMeasurement)
        </dd>
        <dt>
          Količina alata 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
           Vlasnik
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
