﻿@model FarmWebApp.Models.MlijekoMati.TroskoviMlijekomata

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TroskoviMlijekomata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MlijekomatId" class="control-label"></label>
                <select asp-for="MlijekomatId" class="form-control" asp-items="ViewBag.MlijekomatId"></select>
                <span asp-validation-for="MlijekomatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valuta" class="control-label"></label>
                <input asp-for="Valuta" class="form-control" />
                <span asp-validation-for="Valuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumPlacanja" class="control-label"></label>
                <input asp-for="DatumPlacanja" class="form-control" />
                <span asp-validation-for="DatumPlacanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipTroskaId" class="control-label"></label>
                <select asp-for="TipTroskaId" class="form-control" asp-items="ViewBag.TipTroskaId"></select>
                <span asp-validation-for="TipTroskaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
