﻿@model IEnumerable<FarmWebApp.Models.MlijekoMati.TroskoviMlijekomata>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Valuta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPlacanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MlijekoMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipTroska)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iznos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPlacanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MlijekoMat.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTroska.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<div class="">
    <a href="@Url.Action("ExportToExcel")" class="btn btn-primary">Export</a>
</div>
