﻿@model FarmWebApp.Models.RuralOperations.RuralOperations

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj novu</h2>

<h4>Radnju</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RuralPropertyId" class="control-label">Imanje</label>
                <select asp-for="RuralPropertyId" class ="form-control" asp-items="ViewBag.RuralPropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naziv radnje</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationDateTime" class="control-label">Datum radnje</label>
                <input asp-for="OperationDateTime" class="form-control" />
                <span asp-validation-for="OperationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationActivityTypeId" class="control-label">Aktivnost</label>
                <select asp-for="OperationActivityTypeId" class ="form-control" asp-items="ViewBag.OperationActivityTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OperationTypeId" class="control-label">Kategorija radnje</label>
                <select asp-for="OperationTypeId" class ="form-control" asp-items="ViewBag.OperationTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label">Valuta</label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label">Mjerna jedinica</label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label">Cijena po jedinici</label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Ukupan iznos </label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
