﻿@model FarmWebApp.Models.RuralOperations.RuralOperations

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Da li ste sigurni da želite izbrisati ?</h3>
<div>
    <h4>Radnju</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationActivityType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuralProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralProperty.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
