﻿@model FarmWebApp.Models.RuralOperations.RuralOperations

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Radnje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationActivityType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuralProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralProperty.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
