﻿@model FarmWebApp.Models.RuralOperations.RuralOperations

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>RuralOperations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RuralPropertyId" class="control-label"></label>
                <select asp-for="RuralPropertyId" class="form-control" asp-items="ViewBag.RuralPropertyId"></select>
                <span asp-validation-for="RuralPropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationDateTime" class="control-label"></label>
                <input asp-for="OperationDateTime" class="form-control" />
                <span asp-validation-for="OperationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationActivityTypeId" class="control-label"></label>
                <select asp-for="OperationActivityTypeId" class="form-control" asp-items="ViewBag.OperationActivityTypeId"></select>
                <span asp-validation-for="OperationActivityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationTypeId" class="control-label"></label>
                <select asp-for="OperationTypeId" class="form-control" asp-items="ViewBag.OperationTypeId"></select>
                <span asp-validation-for="OperationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label"></label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
