﻿@model ReflectionIT.Mvc.Paging.PagingList<FarmWebApp.Models.RuralOperations.RuralOperations>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<h2>Lista radnji</h2>

<p>
    <a asp-action="Create">Dodaj Novu</a>
</p>

<form asp-action="Index" method="post">
    <div class="row input-group">
        <input type="text" name="search" id="search" value="@Model.RouteValue["Search"]" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasurementUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PricePerUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuralProperty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuralProperty.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>


<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    <input type="hidden" id="controllerName" value="@controllerName" />
}

@section scripts{
    <script>
        var options = {

            url: function(search) {
                return $('#controllerName').val() + "/AutoCompleteResult";
            },

            getValue: function(element) {
                return element.name;
            },

            ajaxSettings: {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },

            preparePostData: function(data) {
                data.search = $("#search").val();
                return data;
            },

            requestDelay: 400
        };

        $("#search").easyAutocomplete(options);
    </script>
}