﻿@model FarmWebApp.Models.RuralGoodGathering.RuralGoodGathering

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>RuralGoodGathering</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RuralGoodPerPropertyId" class="control-label"></label>
                <select asp-for="RuralGoodPerPropertyId" class ="form-control" asp-items="ViewBag.RuralGoodPerPropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label"></label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GatheringTime" class="control-label"></label>
                <input asp-for="GatheringTime" class="form-control" />
                <span asp-validation-for="GatheringTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GatheringCostId" class="control-label"></label>
                <select asp-for="GatheringCostId" class ="form-control" asp-items="ViewBag.GatheringCostId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <select asp-for="SeasonId" class ="form-control" asp-items="ViewBag.SeasonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
