﻿@model FarmWebApp.Models.RuralGoodGathering.RuralGoodGathering

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RuralGoodGathering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GatheringTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GatheringTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GatheringCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GatheringCosts.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RuralGoodPerProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralGoodPerProperty.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
