﻿@model IEnumerable<FarmWebApp.Models.RuralGoodGathering.RuralGoodGathering>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MeasurementUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GatheringTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GatheringCosts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuralGoodPerProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatheringTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatheringCosts.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuralGoodPerProperty.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
