﻿@model FarmWebApp.Models.Evidencija.EvidencijaORadnjama

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EvidencijaORadnjama</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumIzvrsenja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumIzvrsenja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valuta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valuta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GospodarskoDobro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GospodarskoDobro.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipAktivnosti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipAktivnosti.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
