﻿@model FarmWebApp.Models.Evidencija.EvidencijaORadnjama

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EvidencijaORadnjama</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GospodarskoDobroId" class="control-label"></label>
                <select asp-for="GospodarskoDobroId" class="form-control" asp-items="ViewBag.GospodarskoDobroId"></select>
                <span asp-validation-for="GospodarskoDobroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzvrsenja" class="control-label"></label>
                <input asp-for="DatumIzvrsenja" class="form-control" />
                <span asp-validation-for="DatumIzvrsenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipAktivnostiId" class="control-label"></label>
                <select asp-for="TipAktivnostiId" class="form-control" asp-items="ViewBag.TipAktivnostiId"></select>
                <span asp-validation-for="TipAktivnostiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valuta" class="control-label"></label>
                <input asp-for="Valuta" class="form-control" />
                <span asp-validation-for="Valuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
