﻿@model FarmWebApp.Models.RuralProperties.RuralProperty

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Da li ste sigurni da želite izbrisati ?</h3>
<div>
    <h4>Imanje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Lokalni naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalIdentifier)
        </dd>
        <dt>
            Geografska Dužina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitute)
        </dd>
        <dt>
            Geografska Širina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Veličina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            Mjerna jedinica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SizeMeasurementUnit)
        </dd>
        <dt>
            Vlasnik
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
           Tip Imanja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralPropertyType.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
