﻿@model FarmWebApp.Models.RuralProperties.RuralProperty

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Gospodarkog Imanja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Lokalni Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalIdentifier)
        </dd>
        <dt>
            Geografska Dužina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitute)
        </dd>
        <dt>
            Geografska Širina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
           Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Veličina Imanja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
           Mjerna Jedinica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SizeMeasurementUnit)
        </dd>
        <dt>
           Vlasnik
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
          Kategorija Imanja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralPropertyType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
