﻿@model FarmWebApp.Models.RuralProperties.RuralProperty

@{
    ViewData["Title"] = "Edit";
}

<h2>Uredi</h2>

<h4>Gospodarsko Imanje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naziv</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalIdentifier" class="control-label">Lokalni naziv</label>
                <input asp-for="LocalIdentifier" class="form-control" />
                <span asp-validation-for="LocalIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitute" class="control-label">Geografska dužina</label>
                <input asp-for="Longitute" class="form-control" />
                <span asp-validation-for="Longitute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label">Geografska širina</label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Veličina</label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeMeasurementUnit" class="control-label">Mjerna jedinica</label>
                <input asp-for="SizeMeasurementUnit" class="form-control" />
                <span asp-validation-for="SizeMeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Vlasnik</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuralPropertyTypeId" class="control-label">Kategorija Imanja</label>
                <select asp-for="RuralPropertyTypeId" class="form-control" asp-items="ViewBag.RuralPropertyTypeId"></select>
                <span asp-validation-for="RuralPropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
