﻿@model ReflectionIT.Mvc.Paging.PagingList<FarmWebApp.Models.RuralProperties.RuralProperty>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<h2>Gospodarska imanja</h2>

<p>
    <a asp-action="Create">Dodaj Novo Gospodarsko Imanje</a>
</p>
<form asp-action="Index" method="post">
    <div class="row input-group">
        <input type="text" name="search" id="search" value="@Model.RouteValue["Search"]" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Naziv Imanja
        </th>
        <th>
            Lokalni Naziv
        </th>
        <th>
            Geografska Dužina
        </th>
        <th>
            Širina
        </th>
        <th>
            Kratki Opis
        </th>
        <th>
            Veličina Imanja
        </th>
        <th>
            Mjerna Jedinica
        </th>
        <th>
            Vlasnik
        </th>
        <th>
            Tip Imanja
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeMeasurementUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RuralPropertyType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>


@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    <input type="hidden" id="controllerName" value="@controllerName" />
}

@section scripts{
    <script>
        var options = {

            url: function(search) {
                return $('#controllerName').val() + "/AutoCompleteResult";
            },

            getValue: function(element) {
                return element.name;
            },

            ajaxSettings: {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },

            preparePostData: function(data) {
                data.search = $("#search").val();
                return data;
            },

            requestDelay: 400
        };

        $("#search").easyAutocomplete(options);
    </script>
}