﻿@model FarmWebApp.Models.RuralGoods.RuralGoodPerProperty

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj</h2>

<h4>Novi Raspored Dobara</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RuralGoodId" class="control-label">Naziv dobra</label>
                <select asp-for="RuralGoodId" class ="form-control" asp-items="ViewBag.RuralGoodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RuralPropertyId" class="control-label">Imanje</label>
                <select asp-for="RuralPropertyId" class ="form-control" asp-items="ViewBag.RuralPropertyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfProductPerLand" class="control-label">Vrijeme (sadnje, rasporeda)</label>
                @Html.TextBoxFor(x => x.TimeOfProductPerLand, "{0:yyyy-MM-dd}", new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control", @type = "date" })
                <span asp-validation-for="TimeOfProductPerLand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label">Mjerna Jedinica</label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Količina</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
