﻿@model FarmWebApp.Models.RuralGoods.RuralGoodPerProperty

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Da li ste sigurni da želite izbrisati ?</h3>
<div>
    <h4>Raspored dobra po imanju</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vrijeme
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfProductPerLand)
        </dd>
        <dt>
          Mjerna jedinica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt>
           Količina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
           Gospodarsko dobro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralGood.Name)
        </dd>
        <dt>
            Imanje
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralProperty.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
