﻿@model FarmWebApp.Models.RuralGoods.RuralGoodPerProperty

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Gospodarskog dobra po imanju</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vrijeme
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfProductPerLand)
        </dd>
        <dt>
            Mjerna Jedinica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt>
            Količina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            Gospodarsko Dobro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralGood.Name)
        </dd>
        <dt>
            Imanje
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RuralProperty.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
