﻿@model FarmWebApp.Models.RuralGoods.RuralGoodPerProperty

@{
    ViewData["Title"] = "Edit";
}

<h2>Uredi</h2>

<h4>Raspored dobara po imanjima</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RuralGoodId" class="control-label">Dobro</label>
                <select asp-for="RuralGoodId" class="form-control" asp-items="ViewBag.RuralGoodId"></select>
                <span asp-validation-for="RuralGoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuralPropertyId" class="control-label">Imanje</label>
                <select asp-for="RuralPropertyId" class="form-control" asp-items="ViewBag.RuralPropertyId"></select>
                <span asp-validation-for="RuralPropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfProductPerLand" class="control-label">Vrijeme</label>
                <input asp-for="TimeOfProductPerLand" class="form-control" />
                <span asp-validation-for="TimeOfProductPerLand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnit" class="control-label">Mjerna Jedinica</label>
                <input asp-for="MeasurementUnit" class="form-control" />
                <span asp-validation-for="MeasurementUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Količina</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
