﻿@model FarmWebApp.Models.SalePlaces.CompanySalePlace

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite izbrisati?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv Prodajnog Mjesta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePlaceName)
        </dd>
        <dt>
            Dužina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            Širina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
          Firma
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
           Kategorija Prodajnog Mjesta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePlaceCatogory.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
