﻿@model FarmWebApp.Models.SalePlaces.CompanySalePlace

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Prodajnog Mjesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePlaceName)
        </dd>
        <dt>
           Duzina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            Sirina
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
           Dobavljač
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
           Tip Prodajnog Mjesta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePlaceCatogory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazad na listu</a>
</div>
