﻿@model FarmWebApp.Models.SalePlaces.CompanySalePlace

@{
    ViewData["Title"] = "Edit";
}

<h2>Uredi</h2>

<h4>Prodajno Mjesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Vlasnik</label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePlaceName" class="control-label">Naziv Prodajnog Mjesta</label>
                <input asp-for="SalePlaceName" class="form-control" />
                <span asp-validation-for="SalePlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label">Geografska Duzina</label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label">Geografska Sirina</label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePlaceCategoryId" class="control-label">Kategorija Prodajnog Mjesta</label>
                <select asp-for="SalePlaceCategoryId" class="form-control" asp-items="ViewBag.SalePlaceCategoryId"></select>
                <span asp-validation-for="SalePlaceCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
